body {
    background-color: #ffffff;
    color: #000000;
    font-family: monospace;
    margin: 20px;
}

input[type="text"], select {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    padding: 4px;
}

input[type="submit"] {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #000000;
    padding: 4px 8px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #000000;
    color: #ffffff;
}