body {
    margin: 0px;
}
.boxes {
    display: flex;
    border: 1px;
    height: 100px;
}
.b1 {
    border: 1px solid black;
    background-color: black;
    color: white;
    width: 50%;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.b2 {
    border: 1px solid black;
    background-color: brown;
    width: 50%;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}